<launch>
  <node pkg="helloworld" type="get_vector" name="get_vector"/>
  <node pkg="helloworld" type="get_pose" name="get_pose" />
  <node pkg="helloworld" type="get_point" name="get_point" />
  <node pkg="helloworld" type="tf_publisher" name="tf_publisher" />
  <node pkg="helloworld" type="helloworld" name="helloworld" output="screen">
    <rosparam param="/use_sim_time">"true"</rosparam>
  </node>
  <!-- USES RPY FORMAT -->
  <node pkg = "tf" type="static_transform_publisher" name="one_to_four" args="1 1 1 -1.5 0 1.5 one four 10" />
  <!-- USES QUATERNION FORMAT -->
  <node pkg= "tf" type="static_transform_publisher" name="one_to_five" args="1 1 1 0 0 0 1 one five 10" />

  <node pkg = "helloworld" type="urdf_handler" name="urdf_handler" />
  <node pkg = "helloworld" type="tf_broadcaster" name="tf_broadcaster"/>

  <!-- http://wiki.ros.org/robot_state_publisher/Tutorials/Using%20the%20robot%20state%20publisher%20on%20your%20own%20robot -->
   <param name="test" textfile="$(find helloworld)/urdf/test.urdf"/>
    
   <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_pub" >
      <remap from="robot_description" to="test" />
    </node>
</launch>
