[submodule "src/Affine1Space"]
	path = src/Affine1Space
	url = https://github.com/kevinsullivan/Affine1Space.git
[submodule "deps/g3log"]
	path = deps/g3log
	url = https://github.com/KjellKod/g3log.git
[submodule "phys"]
	path = deps/phys
	url = git@gitlab.cs.virginia.edu:physicalsemantics/Peirce.git
[submodule "mathlib"]
    path = deps/mathlib
    url = https://github.com/leanprover-community/mathlib.git
