[submodule "phys"]
	path = phys
	url = https://github.com/kevinsullivan/phys
[submodule "g3log"]
	path = g3log
	url = https://github.com/KjellKod/g3log.git
[submodule "affine_lib"]
	path = math
	url = https://github.com/drewjel/affine_lib.git
[submodule "lang"]
	path = lang
	url = https://github.com/drewjel/lang.git
[submodule "gen"]
	path = gen
	url = https://github.com/kevinsullivan/PeirceGen.git
[submodule "docker"]
	path = docker
	url = https://github.com/kevinsullivan/PeirceDocker.git
