build/
src/.o/
src/peirce
*.o
.d
.o
*.*~
* .log
.vscode
.DS_Store
peirce
*.tar.gz
PeirceOutput*
Peircelog.*
PeirceGen.exe
.clangd
compile_commands.json
annotations.txt
nohup.out
*.pyc
*.olean
output.txt
boot_data.txt
