<!--ADAPTED FROM : https://github.com/ros/urdf_tutorial/blob/master/urdf/03-origins.urdf -->
<robot name="test">
  <link name="test_one">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
  </link>

  <link name="test_two">
    <visual>
      <geometry>
        <box size="0.6 0.1 0.2"/>
      </geometry>
      <origin rpy="0 1.57075 0" xyz="0 0 -0.3"/>
    </visual>
  </link>

  <joint name="one_two" type="fixed">
    <parent link="test_one"/>
    <child link= "test_two"/>
    <origin xyz="0 -0.22 0.25"/>
  </joint>

  <link name="test_three">
    <visual>
      <geometry>
        <box size="0.6 0.1 0.2"/>
      </geometry>
      <origin rpy="0 -1.57075 0" xyz="0 0 -0.3"/>
    </visual>
  </link>

  <joint name="one_three" type="fixed">
    <parent link="test_one"/>
    <child link= "test_three"/>
    <origin xyz="0 0.22 0.25"/>
  </joint>


</robot>